/*start style for header area*/
.header{
    background-color: rgb(9, 9, 104);
    padding-top: 1%;
    width: 1000%;
    padding-bottom: 2%;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075), 0 5px 10px rgba(100, 100, 100, 0.6);
}

.header h5{
    margin-top: -3.5%;
    margin-bottom: 1%;
    padding-top: 1%;
    font-size: 18px;
    color: white;
    margin-left: 8%;
    font-size: 20px;
}

.header img{
    width: 110px;
    height: 50px;
    margin-bottom: 30px;
    margin-left: 2%;
    margin-top: 0.5%;
}
/*end style for header area*/
/*-------------------------------------------------------------------------------------------------*/
/*start style for sidebar area*/

.sidebar_container{
    background: rgb(238, 237, 237);
    margin-left: -26px;
    position: fixed;
    width: 250px;
    height: 100%;
    box-shadow:inset 5px 10px 10px rgba(0, 0, 0, 0.075),  5px 0 10px rgba(100, 100, 100, 0.6);  
}

.sidebar_profile{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
    margin-left: 30%;
    margin-top: 10%;
}

.sidebar_user{
    color: rgb(71, 71, 71);
    margin-bottom: 10px;
    font-size: 14px;
    margin-left: 32%;
}

.sidebar_container a{
    color: rgb(71, 71, 71);
    display: block;
    text-decoration: none;
    line-height: 80px;
    padding-left: 50px;
    font-size: 15px;
    font-weight: 700;
    /*font-family: 'Righteous', cursive;*/
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
    cursor: pointer;
}

.sidebar_container a:hover{
    background: rgb(151, 150, 150);
    text-decoration: none;
    color: white;
}

.sidebar_container hr{
    width: 80%;
    margin-left: 15%;
}

.sidebar_icons{
    margin-top: -6px;
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.isactive_display {
    position: relative;
    background: rgba(165, 165, 165, 0.7);
  }
  
  .isactive_display::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 4%;
    height: 100%;
    background: #919191;
    
  }
/*end style for sidebar area*/
/*-------------------------------------------------------------------------------------------------*/
/*start style for display area*/
.display_area{
    width: 83.5%;
    height: 100%;
    position: fixed;
    margin-left: 16.5%;
    margin-top: 6.3%;
    padding: 1%;
}

.display_area h4{
    color: rgb(88, 88, 88);
}
/*end style for display area*/
/*-------------------------------------------------------------------------------------------------*/
/*start style for table container*/
.table_container{
    padding: 2%;
    background-color: rgb(238, 237, 237);
    width: 98%;
    margin-top: 1%;
    margin-left: 1%;
    height: 8000px;
    box-shadow: 0 0 10px rgba(100, 100, 100, 0.6);
    -webkit-box-shadow: 0 0 20px rgba(100, 100, 100, 0.6);
}

.table_container img{
    margin-top: -9px;
    width: 15px;
    height: 20px;
}

.table_container button{
    color: white;
}

.table_btn button{
    margin-left: 2%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.table_container button:hover{
    color: rgb(80, 79, 79);
}

.table_container input{
    margin-left: 70%;
    margin-right: 1%;
    margin-top: -35px;
    margin-bottom: 20px;

    width: 30%;
}
/*end style for table container*/
/*-------------------------------------------------------------------------------------------------*/
/*start style for table*/
table
{
    margin-top: 10px;
	width: 100%;
	border-collapse: collapse;
    text-align: left;
}

tr{
    background-color: rgb(250, 250, 255);
}

tr:hover{
    color:#212529;background-color:rgba(0,0,0,.075)
}
thead tr td{
    text-align: left !important;
}
th
{
    text-align: center;
	font-size: 15px;
	height: 32px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

td{
    text-align: left !important;
	height: 30px;
    font-size: 15px;
    text-align: center;
}
/*end style for table*/
/*-------------------------------------------------------------------------------------------------*/
/*start style for chart container*/
.chart_container{
    margin-top: 20px;
    margin-left: 2%;
    padding-top: 5%;
    padding-left: 1%;
    width: 525px;
    height: 340px;
}

.chart_label{
    margin-left: 1rem;
}

/*end style for chart container*/
/*-------------------------------------------------------------------------------------------------*/

.login-header{
    background-color: rgb(0, 134, 56);
    color: white;
    border-radius: 0px;
}
.login-footer{
    background-color: rgb(0, 134, 56);
    color: white;
    border-radius: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.login-header a{
    color: white;
}
.login-header h5{
    font-weight: bolder;
    font-size: 20px;
}
.display-form{
    margin: auto;
    text-align: center;
}
.balot-form{
    margin: auto;
}
.election-name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.candidate-header{
    font-weight: bolder;
    margin-bottom: 15px;
    color: white;
    padding: 10px;
}
.cha{
    background-color: rgb(50, 115, 255);
}
.chb{
    background-color: rgb(39, 204, 47);
}
.sidebar{
    width: 200px;
    position: fixed;
    background-color: rgb(2, 3, 5);
    border-radius: 5px;
    text-align: left;
    margin-left: -16px;
    margin-top: -17px;
    height: 100%;
}
.sidebar a{
    background-color: rgb(0, 0, 0);
    color: white;
    display: block;
    text-decoration: none;
    line-height: 60px;
    padding-left: 30px;
    font-size: 15px;
    font-weight: 700;
    /*font-family: 'Righteous', cursive;*/
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
}
.sidebar a:hover{
    background-color: rgb(0, 134, 56);
}
.display-admin{
    padding-left: 20px;
    text-align: left;
    margin-left: 210px;
}
.candidates-list{
    padding-top: 2px;
    padding-bottom: 2px;
}
.cfp{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background-color: #242424fa;
    margin-bottom: -500px;
    color: white;
}
.cfp .ic{
    padding: 100px;
    border: solid 2px white;
    border-radius: 3px;
    background-color: rgb(0, 145, 60);
    width: 800px;
    height: 350px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(37%, 40%);
}
.dash::-webkit-scrollbar{
    width: 0px;
}