<template>
    <div>
        <div class="cfp"  v-if="this.$store.state.admindata[0].status == 'lock'">
            <div class="ic">
                <div class="modal-header mb-3">
                    <h5><span class="fa fa-lock"></span> Laundry Management System</h5>
                </div>
                <h6>Sign In</h6>
                <div class="btn-group col">
                    <input v-model="key" type="password" placeholder="Input Password" class="form-control">
                    <button @click="validate()" class="btn btn-success"> Submit</button>
                </div>
            </div>
        </div>
        <div class="modal-body display-form">
            <div class="sidebar">
                <router-link to="/index" exact><span class="fa fa-dashboard"></span> Dashboard</router-link>
                <router-link to="/newtransaction" exact><span class="fa fa-sticky-note"></span> New Transaction</router-link>
                <router-link to="/transactions" exact><span class="fa fa-book"></span> Transactions</router-link>
                <router-link to="/priceandoffer" exact><span class="fa fa-money"></span> Price and Offer</router-link>
                <a href="#" @click="lockadmin()"><span class="fa fa-lock"></span> Lock Account</a>
            </div>
        </div>
        <div class="dash" style="position: fixed; margin-left: 250px; width: 78%; height: 500px; overflow-y: scroll;">
            <div class="row">
                <div class="ml-3 col-md-3 modal-header" style="background: green; color: white; padding: 20px; border-radius: 10px;">
                    <div>
                        <h4>{{ this.$store.state.laundrydata[0] }}</h4>
                        <h6>Transactions</h6>
                    </div>
                    <h2><span class="fa fa-dashboard"></span></h2>
                </div>
                <div class="ml-5 col-md-3 modal-header" style="background: orange; color: white; padding: 20px; border-radius: 10px;">
                    <div>
                        <h4>{{ this.$store.state.laundrydata[1].price }}</h4>
                        <h6>Price Per Kilo</h6>
                    </div>
                    <h2><span class="fa fa-money"></span></h2>
                </div>
                <div class="ml-5 col-md-3 modal-header" style="background: brown; color: white; padding: 20px; border-radius: 10px;">
                    <div>
                        <h4>{{ this.$store.state.laundrydata[2] }}</h4>
                        <h6>Amazing Offers</h6>
                    </div>
                    <h2><span class="fa fa-thumbs-o-up"></span></h2>
                </div>
            </div>
            <hr>
            <h5><span class="fa fa-list"></span> Amazing Offficers</h5>
            <div class="row pl-4" v-for="data in laundrydata[3]" :key="data.id">
                <div class="col">
                    <hr>
                    <h6>{{ data.offers }}</h6>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex';
    export default {
        data() {
            return{
                input: {
                    lname: '',
                    fname: '',
                    mi: '',
                    position: ''
                },
                key: ''
            }
        },
        mounted() {
            this.$store.dispatch('fetchAdmin');
            this.$store.dispatch('fetchLaundry');
        },
        computed: {
            ...mapState(['admindata']),
            ...mapState(['laundrydata']),
        },
        methods: {
            validate(){
                if(this.key == ""){
                    this.warningMessage("Please input a valid key");
                }else{
                    if(this.key == this.$store.state.admindata[0].adminkey){
                        this.$store.dispatch('unlockadmin');
                    }else{
                        this.key = "";
                        this.warningMessage("Key is invalid");
                    }
                } 
            },
            lockadmin() {
                this.$store.dispatch('lockadmin');
            },
            addCandidates(){
                if(this.input.fname == ""){
                    this.warningMessage("First name field can't be empty.");
                }
                if(this.input.lname == ""){
                    this.warningMessage("Last name field can't be empty.");
                }
                if(this.input.mi == ""){
                    this.warningMessage("Middle innitial field can't be empty.");
                }
                if(this.input.position == ""){
                    this.warningMessage("Position field can't be empty.");
                }
                this.successMessage("Candidate Registered Successfuly.");
                this.$store.dispatch('addCandidate', this.input);
                this.input.fname = "";
                this.input.lname = "";
                this.input.mi = "";
                this.input.position = "";
            },
            successMessage(msg) {
                this.$toast.success(msg, {
                    position: "top-right",
                    timeout: 3000,
                    closeOnClick: true,
                    pauseOnFocusLoss: false,
                    pauseOnHover: true,
                    draggable: true,
                    draggablePercent: 0.6,
                    showCloseButtonOnHover: false,
                    hideProgressBar: true,
                    closeButton: "button",
                    icon: true,
                    rtl: false,
                });
            },
            warningMessage(msg) {
                this.$toast.warning(msg, {
                    position: "top-right",
                    timeout: 3000,
                    closeOnClick: true,
                    pauseOnFocusLoss: false,
                    pauseOnHover: true,
                    draggable: true,
                    draggablePercent: 0.6,
                    showCloseButtonOnHover: false,
                    hideProgressBar: true,
                    closeButton: "button",
                    icon: true,
                    rtl: false,
                });
            },
        }
    }
</script>   