<template>
    <div>
        <div class="modal-header login-header sticky-top">
            <div>
                <h5>Laundry Management System</h5>
            </div>  
        </div>
        <div class="">
            <router-view></router-view>
        </div>
        <div class="modal-footer login-footer">
            <h6><i>Cloma, Cherlie Kate C.</i></h6>
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex';
    export default {
        data() {
            return{
            }
        },
        mounted() {
            this.$store.dispatch('fetchAdmin');
        },
        computed: {
            ...mapState(['admindata']),
        },
        methods: {
            successMessage(msg) {
                this.$toast.success(msg, {
                    position: "top-right",
                    timeout: 3000,
                    closeOnClick: true,
                    pauseOnFocusLoss: false,
                    pauseOnHover: true,
                    draggable: true,
                    draggablePercent: 0.6,
                    showCloseButtonOnHover: false,
                    hideProgressBar: true,
                    closeButton: "button",
                    icon: true,
                    rtl: false,
                });
            },
            warningMessage(msg) {
                this.$toast.warning(msg, {
                    position: "top-right",
                    timeout: 3000,
                    closeOnClick: true,
                    pauseOnFocusLoss: false,
                    pauseOnHover: true,
                    draggable: true,
                    draggablePercent: 0.6,
                    showCloseButtonOnHover: false,
                    hideProgressBar: true,
                    closeButton: "button",
                    icon: true,
                    rtl: false,
                });
            },
        }
    }
</script>