<template>
    <div>
        <div class="cfp"  v-if="this.$store.state.admindata[0].status == 'lock'">
            <div class="ic">
                <div class="modal-header mb-3">
                    <h5><span class="fa fa-lock"></span> Laundry Management System</h5>
                </div>
                <h6>Sign In</h6>
                <div class="btn-group col">
                    <input v-model="key" type="password" placeholder="Input Password" class="form-control">
                    <button @click="validate()" class="btn btn-success"> Submit</button>
                </div>
            </div>
        </div>
        <div class="modal-body display-form">
            <div class="sidebar">
                <router-link to="/index" exact><span class="fa fa-dashboard"></span> Dashboard</router-link>
                <router-link to="/newtransaction" exact><span class="fa fa-sticky-note"></span> New Transaction</router-link>
                <router-link to="/transactions" exact><span class="fa fa-book"></span> Transactions</router-link>
                <router-link to="/priceandoffer" exact><span class="fa fa-money"></span> Price and Offer</router-link>
                <a href="#" @click="lockadmin()"><span class="fa fa-lock"></span> Lock Account</a>
            </div>
        </div>
        <div style="position: fixed; margin-left: 250px; width: 78%;">
            
            <h6><span class="fa fa-sticky-note"></span> Add New Transaction</h6>
            <div class="row pl-4">
                <div class="col-md-3">
                    <label for="">ID No.</label>
                    <input v-model="input.id" type="text" class="form-control">
                </div>
                <div class="col-md-3">
                    <label for="">Full Name</label>
                    <input v-model="input.name" type="text" class="form-control">
                </div>
                <div class="col-md-3">
                    <label for="">Address</label>
                    <input v-model="input.address" type="text" class="form-control">
                </div>
            </div>
            <div class="row pl-4">
                <div class="col-md-9">
                    <label for="">Email</label>
                    <input v-model="input.phone" type="text" class="form-control">
                </div>
            </div>
            <hr>
            <div class="row pl-4">
                <div class="col-md-6">
                    <label for="">Laundry Weight (kg)</label>
                    <input placeholder="0" @change="compute()" v-model="input.weight" type="number" class="form-control">
                </div>
            </div>
            <div class="row pl-4">
                <div class="col-md-6">
                    <label for="">Total Price</label>
                    <input placeholder="0" readonly v-model="input.total" type="number" class="form-control">
                </div>
            </div>
            <div class="row pl-4">
                <div class="col-md-3">
                    <label for="">Amount</label>
                    <input placeholder="0" @change="getchange()" v-model="input.amount" type="number" class="form-control">
                </div>
                <div class="col-md-3">
                    <label for="">Change</label>
                    <input placeholder="0" v-model="input.change" readonly type="number" class="form-control">
                </div>
            </div>
            <div class="row pl-4 col-md-9 modal-footer mt-4">
                <div>
                    <button @click="computeBill()" class="btn btn-primary btn-sm"><span class="fa fa-print"></span> Pay Bill</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex';
    export default {
        data() {
            return{
                input: {
                    id: '',
                    name: '',
                    address: '',
                    phone: '',
                    weight: '',
                    total: '',
                    amount: '',
                    change: '',
                },
                key: ''
            }
        },
        mounted() {
            this.$store.dispatch('fetchAdmin');
            this.$store.dispatch('fetchLaundry');
        },
        computed: {
            ...mapState(['admindata']),
            ...mapState(['laundrydata']),
        },
        methods: {
            getchange() {
                if(this.input.weight == ""){
                    this.warningMessage("Please input laundry weight");
                }else{
                    var b = parseFloat(this.input.amount) - parseFloat(this.input.total);
                    this.input.change = b;
                }
            },
            compute() {
                if(this.input.weight == ""){
                    this.warningMessage("Please input laundry weight");
                }else{
                    var a = parseFloat(this.input.weight) * parseFloat(this.$store.state.laundrydata[1].price)
                    this.input.total = a;
                }
            },
            computeBill() {
                if(this.input.id == "" || this.input.name == "" || this.input.address == "" || this.input.phone == ""){
                    this.warningMessage("Please input all required customers information");
                }else{
                    if(this.input.weight == ""){
                        this.warningMessage("Please input laundry weight");
                    }else{
                        if(this.input.amount == ""){
                            this.warningMessage("Please input amount");
                        }else{
                            if(this.input.amount < this.input.total){
                                this.warningMessage("Insufficient amount.");
                            }else{
                                this.$store.dispatch('addTransaction', this.input);
                                this.successMessage("Transaction Success");
                                this.input.id = "";
                                this.input.name = "";
                                this.input.address = "";
                                this.input.phone = "";
                                this.input.weight = "";
                                this.input.total = "";
                                this.input.amount = "";
                                this.input.change = "";
                            }
                        }
                    }
                }
            },
            validate(){
                if(this.key == ""){
                    this.warningMessage("Please input a valid key");
                }else{
                    if(this.key == this.$store.state.admindata[0].adminkey){
                        this.$store.dispatch('unlockadmin');
                    }else{
                        this.key = "";
                        this.warningMessage("Key is invalid");
                    }
                } 
            },
            lockadmin() {
                this.$store.dispatch('lockadmin');
            },
            successMessage(msg) {
                this.$toast.success(msg, {
                    position: "top-right",
                    timeout: 3000,
                    closeOnClick: true,
                    pauseOnFocusLoss: false,
                    pauseOnHover: true,
                    draggable: true,
                    draggablePercent: 0.6,
                    showCloseButtonOnHover: false,
                    hideProgressBar: true,
                    closeButton: "button",
                    icon: true,
                    rtl: false,
                });
            },
            warningMessage(msg) {
                this.$toast.warning(msg, {
                    position: "top-right",
                    timeout: 3000,
                    closeOnClick: true,
                    pauseOnFocusLoss: false,
                    pauseOnHover: true,
                    draggable: true,
                    draggablePercent: 0.6,
                    showCloseButtonOnHover: false,
                    hideProgressBar: true,
                    closeButton: "button",
                    icon: true,
                    rtl: false,
                });
            },
        }
    }
</script>   