<template>
    <div>
        <div class="cfp"  v-if="this.$store.state.admindata[0].status == 'lock'">
            <div class="ic">
                <div class="modal-header mb-3">
                    <h5><span class="fa fa-lock"></span> Laundry Management System</h5>
                </div>
                <h6>Sign In</h6>
                <div class="btn-group col">
                    <input v-model="key" type="password" placeholder="Input Password" class="form-control">
                    <button @click="validate()" class="btn btn-success"> Submit</button>
                </div>
            </div>
        </div>
        <div class="modal-body display-form">
            <div class="sidebar">
                <router-link to="/index" exact><span class="fa fa-dashboard"></span> Dashboard</router-link>
                <router-link to="/newtransaction" exact><span class="fa fa-sticky-note"></span> New Transaction</router-link>
                <router-link to="/transactions" exact><span class="fa fa-book"></span> Transactions</router-link>
                <router-link to="/priceandoffer" exact><span class="fa fa-money"></span> Price and Offer</router-link>
                <a href="#" @click="lockadmin()"><span class="fa fa-lock"></span> Lock Account</a>
            </div>
        </div>
        <div class="dash" style="position: fixed; margin-left: 250px; width: 78%; height: 500px; overflow-y: scroll; overflow-x: hidden;">
            
            <h6><span class="fa fa-money"></span> Price</h6>
            <div class="row pl-4">
                <div class="col-md-5">
                    <label for="">Current Price Per Kilogram</label>
                    <h6>Php {{ this.$store.state.laundrydata[1].price }}</h6>
                    <input v-model="price" placeholder="Input new price" type="text" class="form-control">
                </div>
            </div>
            <div class="row pl-4 col-md-9 modal-footer mt-4">
                <div>
                    <button @click="savePrice()" class="btn btn-success btn-sm"><span class="fa fa-print"></span> Save Changes</button>
                </div>
            </div>
            <div class="modal-header col-md-9">
                <h6><span class="fa fa-thumbs-o-up"></span> Offers</h6>   
                <button data-toggle="modal" data-target="#addOffer" class="btn btn-primary btn-sm mr-3"><span class="fa fa-plus"></span> New Offer</button>
            </div>
            <div class="row pl-4 mt-3" v-for="data in laundrydata[3]" :key="data.id">
                <div class="col-md-9">
                    <label for="">{{ data.offers }}</label>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addOffer">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6><span class="fa fa-thumbs-o-up"></span> New Offer</h6>
                    </div>
                    <div class="modal-body">
                        <input v-model="offer" type="text" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-secondary btn-sm col mt-2"><span class="fa fa-remove"></span> Cancel</button>
                        <button  @click="saveOffer()" data-dismiss="modal" class="btn btn-success btn-sm col mt-2"><span class="fa fa-save"></span> Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex';
    export default {
        data() {
            return{
                offer: '',
                price: '',
                key: ''
            }
        },
        mounted() {
            this.$store.dispatch('fetchAdmin');
            this.$store.dispatch('fetchLaundry');
        },
        computed: {
            ...mapState(['admindata']),
            ...mapState(['laundrydata']),
        },
        methods: {
            validate(){
                if(this.key == ""){
                    this.warningMessage("Please input a valid key");
                }else{
                    if(this.key == this.$store.state.admindata[0].adminkey){
                        this.$store.dispatch('unlockadmin');
                    }else{
                        this.key = "";
                        this.warningMessage("Key is invalid");
                    }
                } 
            },
            lockadmin() {
                this.$store.dispatch('lockadmin');
            },
            savePrice() {
                if(this.price == "") {
                    this.warningMessage("Please input price.");
                }else{
                    this.successMessage("Price updated.");
                    this.$store.dispatch('saveprice', this.price);
                    this.price = "";
                }
            },
            saveOffer() {
                if(this.offer == "") {
                    this.warningMessage("Please input offer.");
                }else{
                    this.successMessage("Offer Added.");
                    this.$store.dispatch('saveoffer', this.offer);
                }
            },
            successMessage(msg) {
                this.$toast.success(msg, {
                    position: "top-right",
                    timeout: 3000,
                    closeOnClick: true,
                    pauseOnFocusLoss: false,
                    pauseOnHover: true,
                    draggable: true,
                    draggablePercent: 0.6,
                    showCloseButtonOnHover: false,
                    hideProgressBar: true,
                    closeButton: "button",
                    icon: true,
                    rtl: false,
                });
            },
            warningMessage(msg) {
                this.$toast.warning(msg, {
                    position: "top-right",
                    timeout: 3000,
                    closeOnClick: true,
                    pauseOnFocusLoss: false,
                    pauseOnHover: true,
                    draggable: true,
                    draggablePercent: 0.6,
                    showCloseButtonOnHover: false,
                    hideProgressBar: true,
                    closeButton: "button",
                    icon: true,
                    rtl: false,
                });
            },
        }
    }
</script>   