<template>
    <div>
        <div class="cfp"  v-if="this.$store.state.admindata[0].status == 'lock'">
            <div class="ic">
                <div class="modal-header mb-3">
                    <h5><span class="fa fa-lock"></span> Laundry Management System</h5>
                </div>
                <h6>Sign In</h6>
                <div class="btn-group col">
                    <input v-model="key" type="password" placeholder="Input Password" class="form-control">
                    <button @click="validate()" class="btn btn-success"> Submit</button>
                </div>
            </div>
        </div>
        <div class="modal-body display-form">
            <div class="sidebar">
                <router-link to="/index" exact><span class="fa fa-dashboard"></span> Dashboard</router-link>
                <router-link to="/newtransaction" exact><span class="fa fa-sticky-note"></span> New Transaction</router-link>
                <router-link to="/transactions" exact><span class="fa fa-book"></span> Transactions</router-link>
                <router-link to="/priceandoffer" exact><span class="fa fa-money"></span> Price and Offer</router-link>
                <a href="#" @click="lockadmin()"><span class="fa fa-lock"></span> Lock Account</a>
            </div>
        </div>
        <div style="position: fixed; margin-left: 250px; width: 78%; height: 500px; overflow-y: scroll; overflow-x: hidden;">
            
            <h6><span class="fa fa-list"></span> Transaction List</h6>
            <div class="row pl-4" v-for="data in transactiondata" :key="data.id">
                <div class="modal-header col-md-5">
                    <div>
                        <h6>Name: {{ data.fullname }}</h6>
                        <h6>Laundry Weight:  {{ data.lweight }} Kg</h6>
                        <h6>Total: Php {{ data.total }}</h6>
                    </div>
                    <div>
                        <button  @click="storeDelete(data.id)" data-toggle="modal" data-target="#deleteTransaction" class="btn btn-danger btn-sm col mt-2"><span class="fa fa-remove"></span> Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteTransaction">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6>Delete Transaction?</h6>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-secondary btn-sm col mt-2"><span class="fa fa-remove"></span> Cancel</button>
                        <button  @click="proceedDelete()" data-dismiss="modal" class="btn btn-danger btn-sm col mt-2"><span class="fa fa-trash"></span> Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex';
    export default {
        data() {
            return{
                id: '',
                key: ''
            }
        },
        mounted() {
            this.$store.dispatch('fetchAdmin');
            this.$store.dispatch('fetchTransaction');
        },
        computed: {
            ...mapState(['admindata']),
            ...mapState(['transactiondata']),
        },
        methods: {
            validate(){
                if(this.key == ""){
                    this.warningMessage("Please input a valid key");
                }else{
                    if(this.key == this.$store.state.admindata[0].adminkey){
                        this.$store.dispatch('unlockadmin');
                    }else{
                        this.key = "";
                        this.warningMessage("Key is invalid");
                    }
                } 
            },
            lockadmin() {
                this.$store.dispatch('lockadmin');
            },
            storeDelete(id){
                this.id = id;
            },
            proceedDelete() {
                this.$store.dispatch('deletetransaction', this.id);
                //window.location.reload();
            },
            successMessage(msg) {
                this.$toast.success(msg, {
                    position: "top-right",
                    timeout: 3000,
                    closeOnClick: true,
                    pauseOnFocusLoss: false,
                    pauseOnHover: true,
                    draggable: true,
                    draggablePercent: 0.6,
                    showCloseButtonOnHover: false,
                    hideProgressBar: true,
                    closeButton: "button",
                    icon: true,
                    rtl: false,
                });
            },
            warningMessage(msg) {
                this.$toast.warning(msg, {
                    position: "top-right",
                    timeout: 3000,
                    closeOnClick: true,
                    pauseOnFocusLoss: false,
                    pauseOnHover: true,
                    draggable: true,
                    draggablePercent: 0.6,
                    showCloseButtonOnHover: false,
                    hideProgressBar: true,
                    closeButton: "button",
                    icon: true,
                    rtl: false,
                });
            },
        }
    }
</script>   