body{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(14, 87, 30);
    padding-top: 2%;
    width: 100%;
    padding-bottom: 0%;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075), 0 5px 10px rgba(100, 100, 100, 0.6);
    position: fixed;
}

.left_area img{
  margin-top: -15px;
  width: 120px;
  height: 50px;
  margin-bottom: 2%;
  margin-left: 7%;
}

.right_area a{
  text-decoration: none;
  font-size: 16px;
  color: white;
  margin-left: 85%;
}


.right_area a:hover{
  text-decoration: none;
  color: grey;
}


.sidebar{
    margin-top: 74.5px;
    background: rgb(14, 87, 30);
    margin-left: -26px;
    padding-top: 30px;
    position: fixed;
    width: 250px;
    height: 100%;
}


.sidebar span{
    margin-right: 10px;
}

.sidebar img{
    margin-top: -6px;
    width: 15px;
    height: 15px;
}

.sidebar .profile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar h5{
    color: rgb(71, 71, 71);
    margin-bottom: 10px;
    font-size: 14px;
}

.sidebar hr{
    width: 200px;
}

.sidebar a{
    color: rgb(255, 255, 255);
    display: block;
    text-decoration: none;
    line-height: 37px;
    padding-left: 50px;
    font-size: 13px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover{
    background: rgb(21, 133, 49);
    text-decoration: none;
    color: #fff;
}

.sidebar p{
    color: rgb(71, 71, 71);
    display: block;
    line-height: 20px;
    padding-left: 50px;
    font-size: 13px;
}

.table_area{
    margin-left: 18.5%;
    margin-top: 30%;
    width: 80%;
    height: 50%;
    position: absolute;
}

.table_area h3{
    font-size: 23px;
    margin-top: 25px;
    color: rgb(78, 78, 78);
}


.table_area a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
}

.table_area a:hover{
    text-decoration: none;
    color: grey;
}

.add_btn{
    margin-left: -13px;
    width: 13%;
}

.table_container{
  margin-top: 5%;
  margin-left: 0%;
  width: 78%;
  position: fixed;
}

.table_container input{
    margin-left: 70%;
    margin-right: 1%;
    margin-top: -35px;
    margin-bottom: 20px;
    height: 25px;
    width: 30%;
}

.table_area img{
    margin-top: -9px;
    width: 15px;
    height: 20px;
}


table
{
    margin-top: 10px;
	  width: 100%;
	  border-collapse: collapse;
    text-align: left;
    box-shadow: 0 0 10px rgba(99, 95, 95, 0.6);
    -webkit-box-shadow: 0 0 20px rgba(99, 95, 95, 0.6);
}

thead{
    background-color: rgb(21, 133, 49);
}

th
{
    text-align: center;
	font-size: 15px;
	height: 32px;
    color: #fff;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

td{
	height: 30px;
    font-size: 15px;
    background-color: rgb(250, 250, 255);
    text-align: center;
}


.table_btn{
    line-height: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 35%;
    width: 50px;
}


.modal_add_book input{
  margin-top: 10px;
  margin-bottom: 10px;
}


.modal_delete_book p{
  font-size: 15px;
  margin-left: 10px;
  margin-top: 10px;
}


.modal_delete_patron p{
  font-size: 15px;
  margin-left: 10px;
  margin-top: 10px;
}

.modal_head{
  color: white;
  background-color: rgb(21, 133, 49);
}