<template>
  <div id="app">
    <SideBar isActive="index"/>

   <div class="dashboard_container">
            <h3>DASHBOARD</h3>
            <hr>

            <div class="table_container_for_dashboard">
                <div class="row">
                    <div class="col-md-6">
                        <div class="chart_container">
                            <Bar/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="chart_container">
                            <Doughnut/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

       
  
     <!--
    <div class="wrapper-style">
          <div class="containerr">
            <div class="magiciteeem container-fluid">
              <div class="row">
                <div class="dropdown1">
                   <button  onclick="myFunction()" class="dropbtn"></button>
                   <div id="myDropdown" class="dropdown-content">
                     <a href="#">Log Out</a></div>
                </div>
                </div>

              <div class="row">
                <div class="column">
                    <canvas id="barChart" ref="barChart"></canvas> 

                </div>
                <div class="column">
                    <canvas id="pieChart"></canvas>
                </div>
              </div>
            </div>
          </div>
      </div> -->
      
    <!-- <div id="content" class="p-4 p-md-5 pt-5">
      <div class="wrapper">
        <div class="containerr">
           <div class="magiciteeem container-fluid">
             <div class="row">
               <div class="dropdown1">
                  <button  onclick="myFunction()" class="dropbtn"></button>
                  <div id="myDropdown" class="dropdown-content">
                     <a href="#">Log Out</a>
                  </div>
               </div>
             </div>

             <div class="row">
              <div class="column">
                <canvas id="barChart" ref="barChart"></canvas>    
              </div>
              <div class="column">
                <canvas id="pieChart"></canvas>
              </div>  
           </div>
        </div>
      </div>
    </div>
    </div>
    -->
 
</template>

<script>
import SideBar from "../../navigation/SideBar";
import Doughnut from "../../pages/index/doughnut";
import Bar from "../../pages/index/bar";
export default {
    name: 'Dashboard',
    components: {
        SideBar,
        Doughnut,
        Bar
    }
}
 //
</script>


<style scoped>
.dashboard_container h3{
    color:black;
    margin-top:20px;
}

</style>