<template>

  <div  id="app">
    <div>
        
        <!--start of sidebar area-->
                <div class="sidebar">
                    <router-link to="/" exact><span></span>Dashboard</router-link>
                    <router-link to="/patron" exact><span></span>Patron Management</router-link>
                    <router-link to="/book" exact><span></span>Book Managment</router-link>
                    <router-link to="/settings" exact><span></span>Settings</router-link>
                </div>
            <!--end of sidebar area-->
    </div>
    <router-view></router-view>

      </div>
  
</template>
<script>
export default {
  props: {
    isActive: String,
  },
  data() {
    return {
      data: ''
    }
  },
  mounted() {
    
  }
}
</script>
<style scoped>


</style>