<template>
    <div>
        <div class="dash mt-4" style="position: fixed; padding-left: 200px; padding-right: 200px; width: 100%; height: 520px; overflow-y: scroll;">
            <div class="row">
                <div class="ml-5 col-md-3 modal-header" style="background: orange; color: white; padding: 20px; border-radius: 10px;">
                    <div>
                        <h4>{{ this.$store.state.laundrydata[1].price }}</h4>
                        <h6>Price Per Kilo</h6>
                    </div>
                    <h2><span class="fa fa-money"></span></h2>
                </div>
                <div class="ml-5 col-md-3 modal-header" style="background: brown; color: white; padding: 20px; border-radius: 10px;">
                    <div>
                        <h4>{{ this.$store.state.laundrydata[2] }}</h4>
                        <h6>Amazing Offers</h6>
                    </div>
                    <h2><span class="fa fa-thumbs-o-up"></span></h2>
                </div>
            </div>
            <hr>
            <h5><span class="fa fa-list"></span> Amazing Offficers</h5>
            <div style="border-bottom: solid 1px gray; height: 200px; overflow-y: scroll; overflow-x: hidden;">
                <div class="row pl-4" v-for="data in laundrydata[3]" :key="data.id">
                    <div class="col">
                        <hr>
                        <h6>{{ data.offers }}</h6>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col modal-header">
                    <h6 class="col-md-6">Search ID</h6>
                    <div>
                        <div class="btn-group">
                            <input v-model="transid" placeholder="Input ID" class="form-control" type="text" name="" id="">
                            <button @click="search()" class="btn btn-success"><span class="fa fa-search"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col modal-header">
                    <h6 class="col-md-6">Search Result</h6>
                </div>
            </div>
            <div class="row pl-4">
                <div class="modal-header col-md-5">
                    <div>
                        <h6>Name: {{ this.$store.state.searchdata.name }}</h6>
                        <h6>Laundry Weight:  {{ this.$store.state.searchdata.weight }}</h6>
                        <h6>Total:  {{ this.$store.state.searchdata.total }}</h6>
                        <h6>Amount Rendered: {{ this.$store.state.searchdata.amount }}</h6>
                        <h6>Change: {{ this.$store.state.searchdata.change }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex';
    export default {
        data() {
            return{
                transid: '',
                key: ''
            }
        },
        mounted() {
            this.$store.dispatch('fetchAdmin');
            this.$store.dispatch('fetchLaundry');
            this.$store.dispatch('fetchTransaction');
        },
        computed: {
            ...mapState(['admindata']),
            ...mapState(['laundrydata']),
            ...mapState(['transactiondata']),
        },
        methods: {
            search(){
                if(this.transid == ""){
                    this.warningMessage("Please input transaction ID");
                }else{
                    this.$store.dispatch('searchTrans', this.transid);
                }
            },
            successMessage(msg) {
                this.$toast.success(msg, {
                    position: "top-right",
                    timeout: 3000,
                    closeOnClick: true,
                    pauseOnFocusLoss: false,
                    pauseOnHover: true,
                    draggable: true,
                    draggablePercent: 0.6,
                    showCloseButtonOnHover: false,
                    hideProgressBar: true,
                    closeButton: "button",
                    icon: true,
                    rtl: false,
                });
            },
            warningMessage(msg) {
                this.$toast.warning(msg, {
                    position: "top-right",
                    timeout: 3000,
                    closeOnClick: true,
                    pauseOnFocusLoss: false,
                    pauseOnHover: true,
                    draggable: true,
                    draggablePercent: 0.6,
                    showCloseButtonOnHover: false,
                    hideProgressBar: true,
                    closeButton: "button",
                    icon: true,
                    rtl: false,
                });
            },
        }
    }
</script>   